html, body, #app, {
  background: $bgColor;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-size: 12px;
  color: $black;
  *::selection {
    background-color: darken($purple, 20%);
  }
  *::-moz-selection {
    background-color: darken($purple, 20%);
  }
}
@for $i from 1 through 5 {
  .hr#{$i} {
    border: 0;
    border-top: #{$i}px solid;
  }
}
a {
  color: $black;
  &:hover {
    text-decoration-color: $red
  }
  &:focus {
    box-shadow: none;
  }
  &.active {
    font-weight: bold;
    color: $green;
  }
}

hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: $grey;
}
