ul {
  padding: 0;
  margin: 0;
  &.list--unstyled > li {
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
  }
}

.vert-nav {
  &.month-nav {
    .vert-nav__item {
      @include nav-list($green)
    }
  }
  &.year-nav {
    .vert-nav__item {
      @include nav-list($yellow);
    }
  }
}
.movies__item {
  @include movies-list($purple);
}
